.DS_Store
.dart_tool/
.idea/
.packages
.pub/

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
.vscode/
example/coverage/
example/ios/Flutter/flutter_export_environment.sh
example/ios/Flutter/ephemeral/
